# unnecessary directories
logs/*
data/*
work/*
templates/.cache/
templates/.afni.log
templates/.fontconfig/
templates/.freesurfer.txt
templates/.keras/
Neurobagel/
containers/
**/__pycache__
**/.ipynb_checkpoints/